
body{
    background-color: #1d3557;
}
#main-body {
    width: 90%;
    border: 10px double #a8dadc;
}

/*TITLE CSS STYLING*/
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 3px solid black;
}

#title{
    text-align: center;
    font-family: 'Trebuchet MS', 'Times New Roman', 'Tahoma';
    font-weight: bold;
    color: #a8dadc;
}

.main-title {
    padding-bottom: 0px;
    font-size: 60px;
    
}

.sub-title {
    padding-bottom: 30px;
    font-size: 30px;
}

/*BUTTON CSS STYLING*/
img {
    width: 100px;
    height: 100px;
}

.choices {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.choice-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #f1faee;
    border: 5px outset #e63946;
}

.choice-button:hover{
    border: 5px outset #a8dadc;
    transition-duration: 0.01s;
}


/*SCORE CSS STYLING*/
#score {
    display: flex; 
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.scoreboard {
    text-align: center;
    width: 15%;
    border: 5px inset #e63946;
    padding: 10px 20px;
    color: #f1faee;
    background-color: #457b9d;
    font-weight: bold;
}

#player-score{
    margin-right: 20px;
}

#comp-score {
    margin-left: 20px;
}

#player-score-p{
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#comp-score-p{
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*RESET CSS STYLING*/
#reset {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#reset-button {
    border: 5px outset #f1faee;
    padding: 20px 25px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #e63946;
    background-color: #457b9d;
    font-weight: bold;
    width: 200px;
    align-self: center;

}

#reset-button:hover{
    border: 5px outset #e63946;
}

#result {
    align-self:center;
    border: 5px solid #a8dadc;
    background-color: #f1faee;
    text-align: center;
    width: 300px;
    padding: 25px 10px;
    margin-bottom: 40px;
    font-size: 20px;
    
}

